<!DOCTYPE html>
@{
    Layout = "~/views/shared/_layout.cshtml";
    
}
@using Jonghor.ViewModel
@model DormDetailViewModel
<html>
<style>
h1{
	text-align:center;
	font-size:30px;
	color:Orange;
	font-weight:bold;
}
h2{
    color:black;
    font-weight:bold;
    font-size:20px;
}
.photo_1{
	margin:auto;
	width: 50% 500px;
	height:50% 500px;
}
.b {
    background-color: #FF8000;
    color: white;
    padding: 10px;
    margin: 10px 20px ;
    border: none;
    cursor: pointer;
    width: auto;
}

.input1{
    width: 50%;
    padding: 0;
    margin: 20px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

</style>
<article>

<Body>
<h1>
	Edit Dorm
</h1>

        <div>
            <h2>
                <form action="/Dorm/Edit?dorm_id=@Model.dorm.Dorm_ID" method="post">

                    Dorm name:<input class="input1" type="text" name="Name" value="@Model.dorm.Name" required><br></br>
                    Description:<input type="text" name="information" value="@Model.dorm.information"></br></br>        
                    Deposit:<input type="text" name="Deposit" value="@Model.dorm.Deposit">Bath<br></br>
                    Electric's cost/Month:<input type="text" name="E_Per_Unit" value="@Model.dorm.E_Per_Unit">Bath/Unit</br></br>
                    Water's cost/Month:<input type="text" name="W_Per_Unit" value="@Model.dorm.W_Per_Unit">Bath/Unit</br></br>
                    Internet cost:<input type="text" name="Internet" value="@Model.dorm.Internet"> </br></br>
                    Telephone cost:<input type="text" name="Internet" value="@Model.dorm.Tel"> </br></br>
                    Line:<input type="text" name="Internet" value="@Model.dorm.Line"> </br></br>
                    Facebook:<input type="text" name="Internet" value="@Model.dorm.Facebook"> </br></br>
                    Instagram:<input type="text" name="Internet" value="@Model.dorm.Instagram"> </br></br>
                    <subbody>
                                                        
                    </subbody>
                    <button class="b" type="submit">Submit</button>
                </form>
            </h2>
        </div>




</Body>

</article>
</html>